body{
margin:0;
font-family:Arial;
background:#0b1120;
color:white;
text-align:center;
}

header{
background:#111;
padding:15px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
margin-top:80px;
}

.btn{
background:#00ffcc;
padding:10px 20px;
color:black;
text-decoration:none;
border-radius:5px;
}

.box{
margin-top:100px;
}

input{
display:block;
margin:10px auto;
padding:10px;
width:250px;
}

button{
padding:10px 20px;
background:#00ffcc;
border:none;
cursor:pointer;
}

.card{
background:#111;
margin:20px;
padding:20px;
border-radius:10px;
}

.locked{
opacity:0.5;
}content://com.termux.documents/tree/%2Fdata%2Fdata%2Fcom.termux%2Ffiles%2Fhome%2Fmywebsite::/data/data/com.termux/files/home/mywebsite/style.csscontent://com.termux.documents/tree/%2Fdata%2Fdata%2Fcom.termux%2Ffiles%2Fhome%2Fmywebsite::/data/data/com.termux/files/home/mywebsite/style.css