body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#0b1120;
  color:white;
  line-height:1.6;
}

header{
  text-align:center;
  padding:80px 20px;
  background:linear-gradient(135deg,#1e3a8a,#0b1120);
}

header h1{
  font-size:40px;
  margin:0;
}

header p{
  margin:10px 0 20px;
  color:#cbd5e1;
}

.btn{
  background:#22c55e;
  color:white;
  padding:12px 25px;
  text-decoration:none;
  border-radius:6px;
  font-weight:bold;
}

section{
  padding:60px 20px;
  max-width:900px;
  margin:auto;
}

h2{
  text-align:center;
  margin-bottom:30px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.card{
  background:#111827;
  padding:20px;
  border-radius:8px;
  text-align:center;
  transition:0.3s;
}

.card:hover{
  background:#1f2937;
  transform:translateY(-5px);
}

.contact{
  text-align:center;
}

footer{
  text-align:center;
  padding:20px;
  background:#020617;
  color:#94a3b8;
}
.whatsapp-float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:20px;
  right:20px;
  background:#25d366;
  color:white;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:30px;
  text-decoration:none;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition:0.3s;
}

.whatsapp-float:hover{
  transform:scale(1.1);
}
