body{
  margin:0;
  font-family:monospace;
  background:black;
  color:#00ff00;
  text-align:center;
}

#matrix{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

.container{
  padding:30px;
}

button{
  background:black;
  color:#00ff00;
  border:1px solid #00ff00;
  padding:12px 25px;
  cursor:pointer;
}

button:hover{
  background:#00ff00;
  color:black;
}

input{
  background:black;
  color:#00ff00;
  border:1px solid #00ff00;
  padding:10px;
  width:250px;
}

.progressBox{
  width:80%;
  height:20px;
  border:1px solid #00ff00;
  margin:20px auto;
}

#progressBar{
  width:0%;
  height:100%;
  background:#00ff00;
}

.disclaimer{
  margin-top:40px;
  color:#aaa;
  font-size:12px;
}